*{
    margin: 0;
    color: #fff;
}
body{
    background-color: #000;
}
div.img-back{
    width: 100%;
}
div.img-back img{
    width: 100%;
}
div.cont{
    width: 100%;
    position: absolute;
    top: 5%;
}
div.logo{
    width: 40%;
    margin-left: 20%;
}
div.logo img{
    width: 100%;
}
div.cont h2{
    width: 42%;
    margin-left: 10%;
    font-size: 22px;
    color: #fff;
    text-align: justify;
}
div.cont p{
    width: 50%;
    margin-left: 18%;
    font-size: 16px;
    color: #25D366;
    text-align: justify;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .pulsing-container {
    display: inline-block;
    animation: pulse 1.5s infinite;
    margin-left: 12%;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .pulsing-container button{
    width: 300px;
    border-radius: 25px;
    background-color: #25D366;
    padding-right: 20px;
    padding: 10px;
    font-size: 18px;
}
.pulsing-container button a{
    color:#000;
    text-decoration: none;
    font-weight: bolder;
}
.pulsing-container button img{
    width: 7%;
}
div.area{
    width: 100%;
}
div.area h1{
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}
div.area ul{
    padding-left: 14%;
    height: 800px;
}
div.area ul li{
    width: 25%;
    margin: 2%;
    float: left;
    height: 150px;
    padding: 20px 0px 20px 0px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    list-style: none;
    box-shadow: 1px 1px 1px 1px #E1BA66;
    background-color: #24201A;
}
div.area ul li img{
    margin: 0px;
}
div.area ul li p{
    padding: 20px;
}

div.advogado{
    width: 100%;
    height: 800px;
}

.fundo4{
    position: absolute;
    width: 100%;
    left: 0.1%;  
    display: block;  
}
.fundo4 img{
    width: 100%;
}
.conteudo{
    position: relative;
    padding-top: 5%;
}
.conteudo div.bre{
    float: left;
    margin-left: 20%;
    margin-top: 6%;
}
.conteudo div.texto{
    width: 30%;
    margin-left: 48%;
    margin-top: 10%;
}
.conteudo div.texto h1{
    font-size: 32px;
    text-align: left;
    padding-left: 3%;
}
.conteudo div.texto h2{
    font-size: 26px;
    text-align: left;
}
.conteudo div.texto p{
    font-size: 18px;
}
div.advogado h1{
    font-size: 22px;
    text-align: center;
}
div.advogado h2{
    font-size: 18px;
    text-align: center;
    color: #E1BA66;
    margin: 10px;
}

div.advogado p{
    font-size: 14px;
    text-align: justify;
    margin: 10px;
}
div.sobre {
    height: 550px;
}
div.sobre h2{
    text-align: left;
    font-size: 32px;
    margin-left: 58%;
}
div.sobre div.back{
    display: block;
    width: 20%;
    margin-left: 20%;
    float: left;
}
div.sobre div.back img{
    width: 100%;
}
div.sobre p{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    width: 40%;
    margin-left: 45%;
}
div.sobre h2.t{
    position: relative;
    left: -8%;
    font-size: 24px;
    color: #E1BA66;
    width: 40%;
}


div.contato {
    width: 100%;
    background-color: #24201A;
}
div.contato h1{
    text-align: center;
    font-size: 22px;
}

hr.style-four {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.logo2{
    width: 20%;
}
.logo2 img{
    width: 100% ;
}

div.contato ul{
   list-style: none;
   display: flex;
   width: 30%;
   margin-left: 10%;
   float: left;
}
div.contato ul li {
    width: 25%;
    margin: 10px;
}
div.contato ul li img{
    width: 100%;
}
div.contato ul li p{
   display: none;
}
.direitos-autorais, .politica ,.politica a{
    text-decoration: none;
    text-align: center;
    border: solid;
    width: 30%;
}

div.background{
    width: 100%;
}
div.background img{
    width: 100%;
}
main.ad{
    height: 600px;
}
.privacidade{
    width: 50%;
    text-align: center;
    margin-left: 10%;
}
.privacidade h1{
    font-size: 18px;
}
.privacidade img{
    width: 80%;
}

.privacidade p{
    font-size: 12px;
    text-align: justify;
}
@media (max-width: 1250px) {
    *{
        margin: 0;
        color: #fff;
    }
    body{
        background-color: #000;
    }
    div.img-back{
        width: 100%;
    }
    div.img-back img{
        width: 100%;
    }
    div.cont{
        width: 100%;
        position: absolute;
        top: 1%;
    }
    div.logo{
        width: 40%;
        margin-left: 20%;
    }
    div.logo img{
        width: 100%;
    }
    div.cont h2{
        width: 50%;
        margin-left: 10%;
        font-size: 12px;
        color: #fff;
        text-align: justify;
    }
    div.cont p{
        width: 50%;
        margin-left: 23%;
        margin-top: -3%;
        font-size: 12px;
        color: #25D366;
        text-align: justify;
    }
    @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
      .pulsing-container {
        display: inline-block;
        animation: pulse 1.5s infinite;
        margin-left: 11%;
        margin-bottom: 15px;
        margin-top: 10px;
      }
      .pulsing-container button{
        width: 200px;
        border-radius: 25px;
        background-color: #25D366;
        padding-right: 20px;
        padding: 10px;
        font-size: 12px;
    }
    .pulsing-container button a{
        color:#000;
        text-decoration: none;
        font-weight: bolder;
    }
    .pulsing-container button img{
        width: 7%;
    }
    div.area{
        width: 100%;
        height: 1900px;
    }
    div.area h1{
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }
    div.area ul{
        margin-left: 10px;
    }
    div.area ul li{
        width: 80%;
        height: 150px;
        padding: 40px 0px 0px 0px;
        border-radius: 25px;
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
        list-style: none;
        box-shadow: 1px 1px 1px 1px #E1BA66;
    }
    div.area ul li img{
        margin: 10px;
    }
    div.area ul li p{
        padding: 20px;
    }
    
    div.advogado{
        margin-top: 50px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        height: 850px;
    }
    .conteudo{
        position: relative;
        padding-top: 5%;
    }
    .conteudo div.bre{
        width: 98%;
        float: left;
        margin-left: 5%;
        margin-top: 6%;
    }
    .conteudo div.texto{
        width: 100%;
        margin-left: 0.1%;
        margin-top: 10%;
    }
    .conteudo div.texto h1{
        font-size: 26px;
        text-align: left;
        padding-left: 3%;
    }
    .conteudo div.texto h2{
        font-size: 22px;
        text-align: left;
        width: 100%;
    }
    .conteudo div.texto p{
        font-size: 16px;
    }
    .fundo4{
        display: none;
    }
    div.sobre h2{
        text-align: center;
        font-size: 18px;
    }
    div.sobre div.back{
        display: none;
    }
    div.sobre p{
        text-align: justify;
        font-size: 14px;
        padding: 20px;
    }
    div.sobre h2.t{
        text-align: center;
        font-size: 18px;
        color: #E1BA66;
    }
    
    
    div.contato {
        width: 100%;
    }
    div.contato h1{
        text-align: center;
        font-size: 22px;
    }
    
    hr.style-four {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(240, 240, 240, 0.5);
    }
    
    .logo2{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .logo2 img{
        width: 100% ;
    }
    
    div.contato ul{
       list-style: none;
       display: flex;
       width: 100%;
       margin-left: -40px;
    }
    div.contato ul li {
        width: 25%;
        margin: 10px;
    }
    div.contato ul li img{
        width: 100%;
    }
    div.contato ul li p{
       display: none;
    }
    .direitos-autorais, .politica ,.politica a{
        text-decoration: none;
        text-align: center;
    }
    
    div.background{
        width: 100%;
    }
    div.background img{
        width: 100%;
    }
    main.ad{
        height: 600px;
    }
    .privacidade{
        position: absolute;
        top: 0.1%;
        width: 50%;
        left: 25%;
        text-align: center;
    }
    .privacidade h1{
        font-size: 18px;
    }
    .privacidade img{
        width: 80%;
    }
    
    .privacidade p{
        font-size: 12px;
        text-align: justify;
    }
  }